<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<head>
<title>Usage of SUPERVISION module</title>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<meta name="generator" content="RoboHelp by eHelp Corporation www.ehelp.com">
<link rel="stylesheet" href="../default_ns.css"><script type="text/javascript" language="JavaScript" title="WebHelpSplitCss">
<!--
if (navigator.appName !="Netscape")
{   document.write("<link rel='stylesheet' href='../default.css'>");}
//-->
</script>
<style type="text/css">
<!--
h1.whs1 { font-family:'Times New Roman' , serif; }
p.whs2 { text-align:JUSTIFY; font-family:'Times New Roman' , serif; font-size:12pt; }
p.whs3 { font-family:'Times New Roman' , serif; font-size:12pt; }
p.whs4 { font-size:12pt; }
p.whs5 { text-align:JUSTIFY; font-family:'Times New Roman' , serif; font-size:12pt; margin-left:40px; }
-->
</style><script type="text/javascript" language="JavaScript" title="BSSC Special Effects" src="../ehlpdhtm.js"></script><script type="text/javascript" language="JavaScript" title="WebHelpInlineScript">
<!--
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//-->
</script>
<style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute; left:0px; top:0px; z-index:4; visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style><script type="text/javascript" language="javascript1.2" src="../whmsg.js"></script>
<script type="text/javascript" language="javascript" src="../whver.js"></script>
<script type="text/javascript" language="javascript1.2" src="../whproxy.js"></script>
<script type="text/javascript" language="javascript1.2" src="../whutils.js"></script>
<script type="text/javascript" language="javascript1.2" src="../whtopic.js"></script>
<script type="text/javascript" language="javascript1.2">
<!--
if (window.gbWhTopic)
{
	if (window.setRelStartPage)
	{
	addTocInfo("SUPERVISOR module\nUsage of Supervisor module");
addButton("show",BTN_IMG,"Show","","","","",0,0,"../whd_show0.gif","../whd_show2.gif","../whd_show1.gif");
addButton("hide",BTN_IMG,"Hide","","","","",0,0,"../whd_hide0.gif","../whd_hide2.gif","../whd_hide1.gif");

	}


	if (window.setRelStartPage)
	{
	setRelStartPage("../index.htm");

		autoSync(1);
		sendSyncInfo();
		sendAveInfoOut();
	}

}
else
	if (window.gbIE4)
		document.location.reload();
//-->
</script>
</head>
<body><script type="text/javascript" language="javascript1.2">
<!--
if (window.writeIntopicBar)
	writeIntopicBar(4);
//-->
</script>
<h1 class="whs1">In Supervisor you can:</h1>

<ol>
	
	<li class=kadov-p
		style="/*begin!kadov{{*/ font-family: 'Times New Roman', serif; font-size: 12pt; /*}}end!kadov*/ "
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Construct 
 and edit graphs</font></span></li>
	
	<li class=kadov-p
		style="/*begin!kadov{{*/ font-family: 'Times New Roman', serif; font-size: 12pt; /*}}end!kadov*/ "
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Initialize 
 graphs </font></span></li>
	
	<li class=kadov-p
		style="/*begin!kadov{{*/ font-family: 'Times New Roman', serif; font-size: 12pt; /*}}end!kadov*/ "
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Execute 
 and control the activity of a graph </font></span></li>
</ol>

<span style="font-family: 'Times New Roman', serif;">&nbsp; </span>

<p class="whs2">&nbsp;</p>

<p class="whs3"><b style="font-weight: bold;"><span 
 style="font-weight: bold; color: #0000ff;"><font color=blue ><B>STEP</B></font></span><span style="color: #0000ff;"><font color=blue > 
 1 :</font></span> </b><span style="font-weight: bold;"><B>Construction and edition 
 of a graph</B></span></p>

<p class="whs4">Edition of a graph consists of several interactive 
 actions allowing to obtain this graph. The main actions are the following:</p>

<p class="whs5">&nbsp;</p>

<ul>
	
	<li class=kadov-p
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Launch 
 Supervisor </font></span></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Create 
 a new graph </font></span></font></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Import 
 an existing read-only or modifiable graph from a study or a file </font></span></font></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Copy, 
 export, rename an existing graph </font></span></font></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Insert 
 an existing graph into another graph </font></span></font></li>
</ul>

<ul>
	
	<li class=kadov-p
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Add, 
 delete, locate, rename nodes </font></span></li>
	
	<li class=kadov-p
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Add, 
 delete, modify links connecting nodes</font></span></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Add, 
 delete, move a point associated to the link</font></span></font></li>
	
	<li class=kadov-p
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Add 
 particular information (author and comments) about graphs or nodes </font></span></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Create 
 loops and conditional connections </font></span></font></li>
	
	<li class=kadov-p
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Browse 
 the module catalogue</font></span></li>
</ul>

<p class="whs3">&nbsp;</p>

<p class="whs3"><b style="font-weight: bold;"><span 
 style="color: #0000ff;"><font color=blue >STEP 2 :</font></span> Initialization of a graph</b></p>

<p class="whs3">Initialization 
 of a graph is a procedure consisting of several interactive actions which 
 allow execution of this graph:</p>

<p class="whs3">&nbsp;</p>

<ul>
	
	<li class=kadov-p
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Necessary: 
 set into the Input ports of the graph &nbsp;user-defined 
 constant values or values from the study </font></span></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Optional&nbsp;: 
 configure the nodes </font></span></font></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Facultative: 
 put the graph into the study </font></span></font></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Facultative: 
 indicate output data which will be referred to in the study </font></span></font></li>
</ul>

<span style="font-family: 'Times New Roman', serif;">&nbsp; </span>

<p class="whs3"><b style="font-weight: bold;"><span 
 style="color: #0000ff;"><font color=blue >STEP 3 :</font></span> Execution and control the activity 
 of a graph</b></p>

<span>After initialization of the graph the main actions concerning execution 
 and control the activity of a graph are the following :</span> 

<br>&nbsp;<br>

<ul>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Launch 
 execution of a graph </font></span></font></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Stop 
 execution of a graph or a node </font></span></font></li>
	
	<li class=kadov-p
		class=kadov-p><font><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Suspend 
 or resume execution of a graph or a node</font></span></font></li>
	
	<li class=kadov-p
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Control 
 the activity of the graph using different views </font></span></li>
	
	<li class=kadov-p
		class=kadov-p><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Filter 
 the output messages of the solvers </font></span></li>
	
	<li class=kadov-p
		class=kadov-p><font style="font-size: x-small;"
							size=2><span style="font-family: 'Times New Roman', serif; font-size: 12pt;"><font size=3 style="font-size:12pt;">Examine 
 the data calculated in the ports</font></span><span style="font-family: 'Times New Roman', serif;"> 
 </span></font></li>
</ul>

&nbsp; 

<br>&nbsp; 
 

<br>
<a href="javascript:void(0);" onClick="var e; if (parseInt(navigator.appVersion)>=4){e=event;}  if (parseInt(navigator.appVersion) >=2 && typeof(PickupDialog_Invoke) == 'function') PickupDialog_Invoke(e,'','About nodes','about_nodes.htm','Controlling execution of the graphs','controlling_execution_of_the_graphs.htm','Creating a new graph','creating_a_new_graph.htm','Running SUPERVISION','running_supervisor.htm');return false;" title="Related Topics"><img src="../ss_btn_related_topics.gif" border=0 height=17 width=82 alt="Related Topics"></a>


 

<br>&nbsp; 
 

<br>&nbsp; 
 

<script type="text/javascript" language="JavaScript" title="WebHelpRelatedTopics"><!--
if (parseInt(navigator.appVersion) >= 3 && typeof (WritePopupMenuLayer) == "function")
  WritePopupMenuLayer();
//--></script><script type="text/javascript" language="javascript1.2">
<!--
if (window.writeIntopicBar)
	writeIntopicBar(0);
//-->
</script>
</body>
</html>
