BODY { 
      background-color:#ffffff; 
      font-family:"Times New Roman" , serif;  }
H1 { 
    font-weight:bold; 
    font-size:24.0pt;  }
LI.kadov-H1 { 
             font-weight:bold; 
             font-size:24.0pt;  }
H2 { 
    font-weight:bold; 
    font-size:18.0pt;  }
LI.kadov-H2 { 
             font-weight:bold; 
             font-size:18.0pt;  }
H3 { 
    font-weight:bold; 
    font-size:14.0pt;  }
LI.kadov-H3 { 
             font-weight:bold; 
             font-size:14.0pt;  }
H4 { 
    font-weight:bold; 
    font-size:12.0pt;  }
LI.kadov-H4 { 
             font-weight:bold; 
             font-size:12.0pt;  }
H5 { 
    font-weight:bold; 
    font-size:10.0pt;  }
LI.kadov-H5 { 
             font-weight:bold; 
             font-size:10.0pt;  }
H6 { 
    font-weight:bold; 
    font-size:8.0pt;  }
LI.kadov-H6 { 
             font-weight:bold; 
             font-size:8.0pt;  }
P { 
   font-size:12.0pt; 
   margin-top:0pt; 
   margin-bottom:0pt;  }
LI.kadov-P { 
            font-size:12.0pt;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            text-decoration:none none none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
A:active {  }
A:hover { 
         x-text-underline:Off; 
         text-decoration:none;  }
A:link { 
        x-text-underline:Off; 
        text-decoration:none;  }
A:visited { 
           x-text-underline:Off; 
           text-decoration:none;  }
P.TODO { 
        font-weight:normal; 
        font-style:italic; 
        font-family:"Arial Black" , sans-serif;  }
LI.kadov-P-CTODO { 
                  font-weight:normal; 
                  font-style:italic; 
                  font-family:"Arial Black" , sans-serif;  }
